@* Model specifies which data type/object this form is for. *@
<EditForm Model="@Make" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        @* Make name input field *@
        <div class="form-group">
            <label>Name: </label>
            <div>
                <InputText @bind-Value="@Make.Name" class="form-control"></InputText>
                <ValidationMessage For="@(() => Make.Name)"></ValidationMessage>
            </div>
        </div>
    </fieldset>    

    @if (Disabled == false)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }

    <BackToList Target="makes"></BackToList>
</EditForm>

@code 
{
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Make Make { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";

    // Callback for the form on submit.
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
